<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Document</title>
<script>
</script>
</head>
<body>
{% if user -%}
<div>
    <p><a href="/logout">Logout {{user.sub}}</a></p>
    <p><code>sha:{{document.sha}}</code></p>
    <p>
        <textarea id="doc_content">{{document.decoded_content.decode()}}</textarea>
    </p>
</div>
{% else %}
<div>
    <a href="/login">login</a>
</div>
{% endif %}
</body>
</html>
